h1{
  color: white;
  background-color: black;
  text-align: center;
  padding: 100px;
  margin: 0px;
  border-width: 0px;
  font-family: 'Brush Script MT', cursive;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
body{
  background-color: beige;
}
