header{
  position: relative;
  width: 100%;
}
h1{
  color: white;
  background-color: black;
  text-align: center;
  padding: 50px;
  margin: 0px;
  font-family: 'Pirata One', cursive;
  font-size: 150px;
}
.BlueRectangle{
  width: 90px;
  position: absolute;
  top: 0;
  left: 120px;
  height: 100%;
  background-color: rgb(135, 206, 235);
}
.ThinBlueRectangle{
  width: 10px;
  position: absolute;
  top: 0;
  left: 230px;
  height: 100%;
  background-color: rgb(135, 206, 235);
}
body{
  background-color: beige;
  margin: 0px;
}

.content {
  visibility: hidden;
}

.button-container button {
  flex: 1;
  padding: 10px;
  font-size: 18px;
}
